@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --transition-duration: 0.3s;
  }

  html {
    transition: background-color var(--transition-duration), color var(--transition-duration);
  }
}

@layer components {
  .cl-formField:has(input[name="firstName"]),
  .cl-formField:has(input[name="lastName"]),
  .cl-formFieldRow:has(input[name="firstName"]),
  .cl-formFieldRow:has(input[name="lastName"]),
  .signup-email-only .cl-formField:has(input[name="firstName"]),
  .signup-email-only .cl-formField:has(input[name="lastName"]),
  .signup-email-only .cl-formFieldRow:has(input[name="firstName"]),
  .signup-email-only .cl-formFieldRow:has(input[name="lastName"]) {
    display: none;
  }
}
